---
import { Button, Icon } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'
import PageLayout from '@/layouts/BaseLayout.astro'
import { integ } from '@/site-config'

import DocsContents from './DocsContents.astro'

const meta = {
  title: 'EC文档',
  description: 'EdgeCloud文档列表'
}
---

<PageLayout {meta}>
  <Button title='返回' href='/' variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>EdgeCloud文档列表</h1>
    </div>

    <div id='content' class={cn('animate mt-8 max-w-none md:min-w-[45ch]', integ.typography.class)}>
      <h2 class='text-xl font-medium'>Q群机器人文档</h2>
      <DocsContents title={false} />

      <h2 class='text-xl font-medium'>问题反馈及其他</h2>
      <p>
        如果遇到通过查阅本文档仍不能解决的问题，可尝试联系EC管理员(边缘星2020)或加EC官方群(<a href='https://jq.qq.com/?_wv=1027&k=9StgNYMV' target='_blank'>第三边缘星云</a>)反馈。
      </p>
      <p>
        附：EC旧版文档地址(已停止维护)：<a href='https://www.yuque.com/byx2020/ec' target='_blank'>yuque.com/byx2020/ec</a>
      </p>
      <h2 class='text-xl font-medium'>RSS订阅(测试功能)</h2>
      <p>
        <a href='/docs-ec/rss.xml' target='_blank'><Icon name='rss' /> </a>
      </p>
    </div>
  </main>
</PageLayout>
